::-webkit-scrollbar {
    display: none;
}

body{
    background-color: transparent;
    color: floralwhite;
    height: 100%;
    width: 100%;
    padding:5px;
}

.username{
    font-style: italic; font-weight: bold; 
    color: white; margin-top: 25px;
    padding: 1%;
}

.propic{
    
}

.message{
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:90%;
}

.chat{
    border: 1px solid rgba(75, 75, 75, 0.589);
    height: 80px;
    width: 100%;
}

.chatcell{
    text-align: left; width: 100%; margin: 4%;
}